body{
	background: #f2f2f2 url('/image/blu_stripes.png') repeat;
	font: 15px Georgia, "Times New Roman", serif;
}

#header{
	border-bottom: 10px solid #696969;
	background-color: white;
	height: 65px;
}

div.logo{
	position: absolute;
	background: transparent url('/image/logo.png') no-repeat;
	color: #424242;
	text-indent: 114px;
	width: 240px;
	height: 120px;
	font-size: 20px;
	margin: 0 auto;
	font-weight: bold;
	z-index: 2px;
}

#container{
	margin-top: 50px;
	margin-bottom: 80px;
}

h2.title{
	color: #00ADEE;
	font-size: 28px;
	font-width: 500;
	line-height: 33px;
	margin: 0;
}

.byline{
	font: 10px Verdana, sans-serif;
	color: #E3D444;
	display: inline;
	padding: 8px 8px 8px 0;
}

#sidebar, .entry{
	margin: 20px 0 0 0;
}

#sidebar, .entry{
	box-shadow: 0px 4px 10px 2px #979797; /* Opera 10.5, IE 9.0 */
}

.entry{
	background-color: #FFF;
	padding: 10px 15px;
	border: 1px dashed #c4c4c4;
	font-size: 15px;
	line-height: 24px;
}

.entry strong{
	color: black;
}

.body{
	color: #9B9B9B;
	text-align: justify;
	margin-top: 20px;
}

.body a{
	color: #5CD14D;
}

.body a:hover{
	color: #00ADEE;
	text-decoration: none;
}

#footer a{
	text-decoration: none;
	position: fixed;
	bottom: 0;
	padding: 20px 0;
	width: 100%;
	font: 10px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	color: #A4A4A4;
	text-align: center;
	background: #555 url('/image/darkdenim3.png') repeat;
}

#footer a:hover{
	text-decoration: inline;
	color: white;
	text-decoration: underline;
}

#sidebar{
	padding: 10px;
	background-color: white;
	float: right;
}

#sidebar h4{
	color: black;
	font-style: italic;
}

#sidebar ul{
	list-style-type: none;
}

#sidebar li{
	border-bottom: 1px solid #E5E5E5;
	margin: 0;
}

#sidebar a{
	font-style: italic;
	color: #999;
	text-decoration: none;
	display: block;
}

#sidebar a:hover{
	color: #000;
}

#sidebar a:hover em{
	color: #00ADEE;
}

#sidebar a em{
	color: #5CD14D;
}

ul.nav{
	font: 20px Verdana, "Times New Roman", serif;
	margin-top: 20px;
	height: 30px;
}

ul.nav li{
	display: inline;
	margin: 0;
	padding: 0;
}

ul.nav a{
	text-decoration: none;
	color: #909090;
	margin: 0;
	padding: 4px 10px;
	border-bottom: 4px solid #E1E1E1;
}

ul.nav a:hover{
	color: #00ADEE;
	border-bottom: 4px solid #E3D444;
}

h1, h2, h3, h4, h5, h6{
	color: #E3D444;
}

blockquote {
  font: 14px/22px normal helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
  color: #BDBDBD;
}

#pag_cont{
	background-color: #eee;
	height: 30px;
}

ul.pagination{
	list-style-type: none;
}

ul.pagination li{
	display: inline;
	margin: 0;
	padding: 5px;
	background-color: #eee;
	border-right: 1px solid #fff;
}

ul.pagination a{
	color: #8C8C8C;
	padding: 10px;
	text-decoration: none;
}

ul.pagination a:hover{
	color: black;
	text-decoration: underline;
}

ul.pagination li.unavailable a:hover{
	color: #8C8C8C;
	text-decoration: none;
}