body{
/*	background: #f2f2f2 url('/image/absurdidad.png') repeat;*/
	background: #f2f2f2 url('/image/blu_stripes.png') repeat;
	font: 14px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

#header{
	margin: 0px;
/*	background: #FAFAFA url('/image/wide_rectangles.png') repeat;*/
	border-bottom: 10px solid #696969;
	background-color: white;
	height: 60px;
	padding-top: 20px;
}

div.logo{
	background: transparent url('/image/logo.png') no-repeat;
	color: #424242;
	text-indent: 114px;
	width: 170px;
	height: 50px;
	font-size: 20px;
	margin: 0 auto;
	font-weight: bold;
}

.container{
	padding: 10px 40px 75px 40px;
}

h2.title{
	color: #00ADEE;
	font-size: 1.5em;
}

.byline{
	font: 8px Verdana, sans-serif;
	color: #61CAFF;
	background-color: #0D0E0F;
	display: inline;
	padding: 8px;
}

.entry{
	background-color: #FFF;
	padding: 10px 15px;
	margin-top: 20px;
	box-shadow: 0px 4px 10px 2px #979797; /* Opera 10.5, IE 9.0 */
	border: 1px dashed #c4c4c4;
}

.entry strong{
	color: black;
}

.body{
	color: #9B9B9B;
	text-align: justify;
	margin-top: 20px;
	font-size: 16px/26px;
}

#footer a{
	text-decoration: none;
	position: fixed;
	bottom: 0;
	padding: 20px 0;
	width: 100%;
	font: 10px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	color: #A4A4A4;
	text-align: center;
	background: #555 url('/image/darkdenim3.png') repeat;
}

#footer a:hover{
	text-decoration: inline;
	color: white;
	text-decoration: underline;
}