---
layout: post
title: CBBFactura, cumpliendo con las disposiciones del SAT 2012
---
%p 
  Para beneficio de todos nuestros clientes 
  %strong CBBFactura
  ahora cumple con las disposiciones fiscales del 
  %strong SAT 2012
  para la facturación por 
  %strong Código de Barras Bidimensional

%p 
  Estas actualizaciones no tienen costo adicional para nuestros
  clientes, ni se refleja en un aumento en los precios.

%p Gracias por su preferencia.
