<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" >
	<meta name="author" content="LogicalBricks Solutions" >
	<meta name="description" content="{{ page.description }}" >
	<title>CBBlog | {{ page.title }}</title>
	{% if page.keywords %}
	<meta name="keywords" content="{{ page.keywords }}">
	{% endif %}
	
	{% include stylesheets.html %}
	{% include scripts.html %}
</head>
  <body>
	
	{% include header.html %}
	
      <div class="container_12" id="container">
		<div class="grid_12">
			<div id="main">
				{{ content }}
			</div>
		</div>
		<div class="clear"></div>
      </div>
	
	  {% include footer.html %}
  </body>
</html>
